<div>
    <h1>Welcome {{user.name}}</h1>
    <p>Rol: {{user.role}} &nbsp; <button id="Logout" type="click">Log out</button></p>
</div>
<div>
    {{#each result}}
    <div style="border: 1px solid black; padding: 5px">
        <p>TITLE: {{title}} &nbsp; DESCRIPTION: {{description}}</p>
        <p>PRICE: {{price}} &nbsp; STOCK: {{stock}}</p>
        <button>Add to cart</button>
    </div>
    <br/>
    {{/each}}
</div>
{{!-- <br/>
<div>
    {{#if result.hasPrevPage}}
        <a href={{this.result.prevLink}}>Anterior</a>
    {{/if}}
    &nbsp;
    {{this.result.page}}
    &nbsp;
    {{#if result.hasNextPage}}
        <a href={{this.result.nextLink}}>Siguiente</a>
    {{/if}}
</div> --}}

<script src="/js/logout.js"></script>