<div>
    <h1>Welcome {{user.name}}</h1>
    <p>Rol: {{user.rol}} &nbsp; <button id="Logout" type="click">Log out</button></p>
</div>
<div>
    {{#each result.docs}}
    <div style="border: 1px solid black; padding: 5px">
        <p>TITLE: {{this.title}} &nbsp; DESCRIPTION: {{this.description}}</p>
        <p>PRICE: {{this.price}} &nbsp; STOCK: {{this.stock}}</p>
        <button>Add to cart</button>
    </div>
    <br/>
    {{/each}}
</div>
<br/>
<div>
    {{#if result.hasPrevPage}}
        <a href={{this.result.prevLink}}>Anterior</a>
    {{/if}}
    &nbsp;
    {{this.result.page}}
    &nbsp;
    {{#if result.hasNextPage}}
        <a href={{this.result.nextLink}}>Siguiente</a>
    {{/if}}
</div>

<script src="/js/logout.js"></script>