<div>
    <h1>Welcome {{user.fullname}}</h1>
    <p>Rol: {{user.role}} &nbsp; <button id="Logout" type="click">Log out</button></p>
</div>
<div>
    {{#each result}}
    <div style="border: 1px solid black; padding: 5px">
        <p>TITLE: {{title}} &nbsp; DESCRIPTION: {{description}}</p>
        <p>PRICE: {{price}} &nbsp; STOCK: {{stock}}</p>
        {{#if ../user.isAdmin}}
            <button>Edit</button> &nbsp; <button id="deleteButton" type="click">Delete</button>
            {{else}}
            <button>Add to cart</button>
        {{/if}}
    </div>
    <br/>
    {{/each}}
    {{#if user.isAdmin}}
        <button>Add new product</button>
        {{else}}
        <div>
            <div>
                <p> Escribe un mensaje: <input id="chatBox" type="text"></p>
            </div>
            <div>
                <p id="messageLogs"></p>
            </div>
        </div>
    {{/if}}
</div>
{{!-- <br/>
<div>
    {{#if result.hasPrevPage}}
        <a href={{this.result.prevLink}}>Anterior</a>
    {{/if}}
    &nbsp;
    {{this.result.page}}
    &nbsp;
    {{#if result.hasNextPage}}
        <a href={{this.result.nextLink}}>Siguiente</a>
    {{/if}}
</div> --}}

<script src="/js/logout.js"></script>
<script src="/js/delete.js"></script>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/messages.js"></script>